# Python cache files
__pycache__/
*.py[cod]
*.so
*.log

# Virtual environments
venv/
.env/
ENV/
env/
venv.bak/

# IDE settings
.vscode/
.idea/
*.swp

# Django / Flask
*.sqlite3
db.sqlite3
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# Backup / test / build
*.bak
build/
dist/
*.egg-info/
